



/* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  section {
   
    padding: 1rem 2rem;
    margin: 0;
  }
  section:not(:last-child) {
    margin-bottom: 0; 
*/

header{
    text-align:right;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color:  rgb(83, 4, 109);
    margin-bottom: 0px;
    padding-bottom: 10px;
}
#header-container {
   text-align: right;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Setting a max width ensures things don't get too stretched out on larger screens */
    max-width: 80rem;
    margin: auto;
  }
  #nav-links {
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
  }
  #menu-icon {
    display: none;
    width: 48px;
    /* You can change the color of an image using filters */
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(30deg) brightness(119%) contrast(119%);
    align-items: right;
  }
  ul {
    list-style-type: none;
  }
    nav a{
    text-decoration: none;
    color:rgb(255, 255, 255);

       
}
nav a:hover{
    color: rgb(226, 180, 115);

}
nav a:focus{
    color:#1792d2;
}

#about-me {
    background-color:rgb(83, 4, 109);
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    h2{
        color:rgb(109, 109, 109);
        text-align: center;
    }
    p{
        color:rgb(191, 190, 191);
        text-align: center;
    }
}
.about-me-container {
    flex-wrap:wrap;
    display: flex; 
    align-items:stretch; 
}
.outer {
    width: 100%; 
}

.left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top-left, .bottom-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -4.7px;
}


.about-content {
    flex-direction: column; /* Utiliza flexbox para los elementos internos */
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: flex-start; /* Coloca los elementos al inicio del contenedor */
}


.profile-picture-container  {
    width: 100%; 
    height: auto; 
    max-width: none; /* Desactivamos la restricción del ancho máximo */
    max-height: none; /* Desactivamos la restricción de la altura máxima */
    /*display: inline-block;*/
    margin-left: 3rem;
    margin-right: 2rem;
    margin-bottom: 0;
}
#name {
    font-family:"Monoton", sans-serif;
    font-weight: 305;
    font-size: 2rem;
    color: rgb(251, 250, 251);
    text-shadow: 3px 3px 3px black;

}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(122, 41, 149);
    font-weight: bolder;
    font-size: 2rem;
    align-items: center;
    text-align: center;
}
body{
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));/*mobile first*/
    gap: 1px;
    margin-left: 2rem;
}
.grid-items {
    display: flex;
    flex-direction: row;
   
}
.one-experience{
    display: flex;
    flex-direction: column;
    color:rgb(122, 41, 149) ;
    margin-bottom: 0;
    padding-bottom: 0;
}
.exp-heading{
    margin-bottom: 0;
}
.date{
    font-weight: bold;
    margin: 0;
    font-size: smaller;
    color:rgb(109, 109, 109);
}
.exp-description{
    text-align: justify;
    margin-right: 40px;
    color:black;
}
/*.container{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin:auto;
    box-sizing: border-box;
}
#connect {
    text-align: center;  
}

.connect-icons{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content:center;
    gap: 0px;
    align-content: center;
}
.icon-images img{
    max-width: 100%;
}*/

#messageSec {
  margin: auto;
  max-width: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

#messageSec form {   
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
}

#messageSec label {
    font-size: 0.9rem;
    color: rgb(89, 89, 89);
    margin-bottom: -0.5rem;

  }
  
  #messageSec input,
  textarea {
    padding: 0.5rem;
    border: 1px solid rgb(122, 41, 149);
    border-radius: 0.5rem;
    font-family: "Courier New", Courier, monospace;
  }
  
  #messageSec button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(122, 41, 149);
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  #messageSec button:hover {
    background-color: rgb(226, 180, 115);
  }
  
  footer {
    background-color: rgb(83, 4, 109);
    padding: 20px;
    text-align: center;
}
#connect h2 {
    color:rgb(109, 109, 109);
}
.container {
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos dentro del contenedor */
    align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
    flex-direction: column; /* Coloca los elementos en columna */
    margin-bottom: -40px;
    margin-top: -20px;
}

.connect-icons {
    display: flex;
    flex-direction: row; /* Los iconos se colocarán en una fila */
    align-items: center; /* Alinea los iconos verticalmente al centro */
    justify-content: center; /* Centra los iconos horizontalmente */
}

.connect-icons a {
    margin: 5px; /* Espacio entre los iconos */
}

@media (max-width: 700px) {
  #nav-links {
    display: none;
  }

  #menu-icon {
    display: inline;
  }

  #menu-icon svg {
    color: rgb(212, 160, 83);
    fill: green;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .grid-container{
        grid-template-columns: 1fr 1fr;
    }
  
    .grid-items{
    
    }


}
@media only screen and (min-width:1025px){
    .grid-container{
        grid-template-columns: 1fr 1fr;
    }
    h2{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
    }
    .grid-items{
 
    }
}
